<!-- BEGIN PAGE BREADCRUMB -->
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <div class="note note-info">
        <h3>欢迎来到课程教学管理系统!
            <span class="close" data-close="note"></span>
        </h3>
        <p> 知识点库:所有的课程由知识点构成，知识点可以分立初来，将几个知识点一集合便可构成课程
            <br/> 课程:一次教学活动,内容由知识点构成。和学生学习关联,可统计出学生学过哪些知识
            <br/> </p>
    </div>
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div ng-repeat="stat in dashboard.status" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat {{stat.color}}">
                <div class="visual">
                    <i class="fa {{stat.icon}}"></i>
                </div>
                <div class="details">
                    <div class="number"> {{stat.num}} </div>
                    <div class="desc"> {{stat.desc}} </div>
                </div>
                <a class="more" href="#">
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
