<!-- <div ng-controller="NewsController"> -->
<div ng-controller='NewsController'>
    <div class="col-md-10 small-pading">
        <div class="light bg-inverse">
            <div>
                <div class="timeline white-bg" infinite-scroll="reddit.nextPage()"
                    infinite-scroll-disabled="reddit.busy" infinite-scroll-distance="1">
                    <!-- TIMELINE ITEM -->
                    <div class="timeline-item" ng-repeat='item in reddit.items'>
                        <div class="timeline-badge">
                            <img class="timeline-badge-userpic" ng-src="{{ item.user_src }}">
                        </div>
                        <div class="timeline-body">
                            <div class="timeline-body-arrow"> </div>
                            <div class="timeline-body-head">
                                <div class="timeline-body-head-caption">
                                    <a href="javascript:;" class="timeline-body-title
                                        font-blue-madison">{{ item.user_name }}</a>
                                    <span class="timeline-body-time font-grey-cascade">编辑于 {{ item.update_time }}
                                    </span>
                                </div>
                                <div class="timeline-body-head-actions">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-body-content">
                                <span class="font-grey-cascade" ng-bind-html="item.content | to_trusted">
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- END TIMELINE ITEM -->
                    <div ng-show='reddit.busy'>正在加载数据...</div>
                </div>
            </div>
        </div>
    </div>
</div>


