<!-- BEGIN PAGE BASE CONTENT -->
 <div class="row">
     <div class="col-md-12">
         <!-- BEGIN EXTRAS PORTLET-->
         <div class="portlet light form-fit bordered">
             <div class="portlet-title">
                 <div class="caption">
                     <i class=" icon-layers font-green"></i>
                     <span class="caption-subject font-green bold uppercase">写感悟，升等级</span>
                 </div>
             </div>
             <div class="portlet-body form">
                 <div class="form-horizontal form-bordered" method="post">
                     <div class="form-body">
                         <div class="form-group last">
                             <div class="col-md-4">
                                 <div class="fileinput fileinput-new" data-provides="fileinput">
                                     <div class="fileinput-preview thumbnail"
                                         data-trigger="fileinput" style="width: 400px; height:
                                         220px;" id= "imgdiv">
                                         <img src="http://www.placehold.it/400x220/EFEFEF/AAAAAA&amp;text=添加图片" alt="">
                                     </div>
                                     <div><span class="btn red btn-outline btn-file hidden"><input type="file" name="..."></span></div>
                                 </div>
                             </div>
                             <div class="col-md-8">
                                 <div name="summernote" id="summernote_1"> </div>
                             </div>
                         </div>
                     </div>
                     <div class="form-actions">
                         <div class="row">
                             <div class="col-md-offset-4 col-md-8">
                                 <button type="submit" class="btn green" onclick="ajax_post()" id='btn_submit'>
                                     <i class="fa fa-check"></i>提交</button>
                                 <button type="button" class="btn default">取消</button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- END PAGE BASE CONTENT -->
