<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-body">
                <div class="mt-element-step">
                    <div class="row step-line">
                        <div class="mt-step-desc">
                            <div class="font-dark bold uppercase">等级说明</div>
                            <div class="caption-desc font-grey-cascade">
                                欢迎来到您的英雄之旅,系统会根据您的成长记录算的等级，不同的等级将获得不同的权限
                            </div>
                            <br>
                        </div>
                        <div class="col-md-4 mt-step-col first done">
                            <div class="mt-step-number bg-white">0级</div>
                            <div class="mt-step-title uppercase font-grey-cascade">初来乍到</div>
                        </div>
                        <div class="col-md-4 mt-step-col">
                            <div class="mt-step-number bg-white">2级</div>
                            <div class="mt-step-title uppercase font-grey-cascade">初学乍练</div>
                        </div>
                        <div class="col-md-4 mt-step-col last">
                            <div class="mt-step-number bg-white">3级</div>
                            <div class="mt-step-title uppercase font-grey-cascade">初出茅庐</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

