<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="UserProfileController" uploader="uploader">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img ng-src="{{user.img_path}}" class="img-responsive" alt="" ng-click="changAvatar()">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">{{ user.nick }}-{{user.group_name}}</div>
                    <div class="profile-usertitle-job" ng-repeat="rname in user.role_names"> {{rname}} </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                </div>
                <!-- END MENU -->

            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content fade-in-up"> </div>
        <!-- END PROFILE CONTENT -->
    </div>
    <div class="modal" id="change_avatar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">编辑头像</h4>
                </div>
                <div class="modal-body">

                    <div class="fileinput fileinput-new" data-provides="fileinput" style="width=100%">
                        <div class="fileinput-new thumbnail" style="width: 100%;">
                            <input type="file" accept="image/*" capture="camera" nv-file-select=""
                            uploader="uploader" aj-file-select="" aj-change="getFileChangeImg(file.file)" aj-model="file" />
                            建议300x300方形
                            <img ng-src="{{imageSrc}}" ng-model="imageSrc"></img>
                        </div>
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light">
                                <tbody>
                                    <tr>
                                        <td style="width: 30%">
                                            <a ng-click="downloadfile(topic.name + '/' + item.file.name)"
                                                ng-if="topic.name && (item.isNotAddingAll || item.isSuccess)">
                                                <strong > {{ item.file.name }} </strong>
                                            </a>
                                            <strong ng-if="!(topic.name && (item.isNotAddingAll || item.isSuccess))">
                                                {{ item.file.name }}
                                            </strong>
                                        </td>
                                        <td ng-show="uploader.isHTML5" style="width: 50%;">
                                            <div class="progress progress-sm" style="margin-bottom: 0;">
                                                <div class="progress-bar progress-bar-info" role="progressbar"
                                                    ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center" style="width: 20%">
                                            <span ng-show="item.isSuccess" class="text-success">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>
                                            <span ng-show="item.isCancel" class="text-info">
                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                            </span>
                                            <span ng-show="item.isError" class="text-danger">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer" nowrap >
                        <button type="button" class="btn btn-success btn-xs"
                            ng-click="saveAvatar(user, item)" ng-disabled="item.isReady
                            || item.isUploading || item.isSuccess || item.isNotAddingAll ">
                            <span class="glyphicon glyphicon-upload"></span>
                            保存</button>
                        <button type="button" class="btn btn-warning btn-xs"
                            ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            取消</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            关闭</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
