{% macro nav(navigation, t) %}
<header id="header" class="alt">
    <h1 id="logo"><a href="#"><span>{{ t }}</span></a></h1>
    <nav id="nav">
        <ul>
            <li class="current"><a href="#">欢迎光临</a></li>
            <li class="submenu"><a href="#">导航</a>
                <ul>
                    {%- for item in navigation recursive %}
                    <li><a href="{{ item.href|e }}">{{ item.caption }}</a>
                    {%- if item.children -%}
                    <ul class="submenu">{{- loop(item.children) -}}</ul></li>
                    {%- endif %}
                    {%- endfor %}
                </ul>
            </li>
            <li><a href="#" class="button special">VIP登录</a></li>
        </ul>
    </nav>
</header>
{% endmacro %}
