{% block doc -%}
<!DOCTYPE html>
<html>
    <head>
        {%- block head %}
        <title>{% block title %}{% endblock title %}</title>
        {%- block metas %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" >
        {%- endblock metas %}
        {%- block styles %}
        <!--[if lte IE 8]><script src="static/assets/js/ie/html5shiv.js"></head>script><![endif]-->
        <link rel="stylesheet" href="static/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="static/assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="static/assets/css/ie9.css" /><![endif]-->
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
        {%- endblock styles %}
        {%- endblock head %}
    </head>
    <body class="index">
        {% block body %}
        <div id="page-wrapper">
            <!-- Header -->
            {% block navigation %}
            {% endblock navigation %}

            <!-- Banner -->
            {% block bodybanner %}
            {% endblock bodybanner %}

            <!-- Main -->
            <article id="main">
                {% block bodymain %}
                {% endblock bodymain %}
            </article>

            <!-- CTA -->
            {% block bodycta %}
            {% endblock bodycta %}

            <!-- Footer -->
            {% include 'footer.html' %}
        </div>

        {% block bodyscript %}
        <!-- Scripts -->
        <script src="static/assets/js/jquery.min.js"></script> 
        <script src="static/assets/js/jquery.dropotron.min.js"></script> 
        <script src="static/assets/js/jquery.scrolly.min.js"></script> 
        <script src="static/assets/js/jquery.scrollgress.min.js"></script> 
        <script src="static/assets/js/skel.min.js"></script> 
        <script src="static/assets/js/util.js"></script> 
        <!--[if lte IE 8]><script src="static/assets/js/ie/respond.min.js"></script><![endif]--> 
        <script src="static/assets/js/main.js"></script>
        {%- endblock bodyscript %}
        {%- endblock body %}
    </body>
</html>
{% endblock doc -%}
