<!DOCTYPE HTML>
<html>
<head>
<title>科技教育</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" href="assets/css/blog.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body class="index">
<div id="page-wrapper"> 

  <!-- Header -->
  <header id="header" class="alt">
    <h1 id="logo"><a href="index.html">科技改变未来</span></a></h1>
    <nav id="nav">
      <ul>
        <li class="current"><a href="index.html">欢迎光临</a></li>
        <li class="submenu"> <a href="#">导航</a>
          <ul>
            <li><a href="left-sidebar.html">Left Sidebar</a></li>
            <li><a href="right-sidebar.html">Right Sidebar</a></li>
            <li><a href="no-sidebar.html">No Sidebar</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="submenu"> <a href="#">Submenu</a>
              <ul>
                <li><a href="#">Dolore Sed</a></li>
                <li><a href="#">Consequat</a></li>
                <li><a href="#">Lorem Magna</a></li>
                <li><a href="#">Sed Magna</a></li>
                <li><a href="#">Ipsum Nisl</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#" class="button special">登录更精彩</a></li>
      </ul>
    </nav>
  </header>
  
  <!-- Banner -->
  <section id="banner" style="background-image:none;padding: 4em 0 1em 0;">
    <article class="container" id="top">
      <div class="row">
        <div class="2u 8u(mobile)"> <span class="image fit"><img src="images/pic00.jpg" alt="" /></span> </div>
        <div class="8u 12u(mobile)">
          <header>我是王大帅</header>
          <p>And this is <strong>Miniport</strong>, a free, fully responsive HTML5 site template designed by <a href="http://n33.co">AJ</a> for <a href="http://html5up.net">HTML5 UP</a> &amp; released under the <a href="http://html5up.net/license">CCA license</a>.</p>
          <a href="#work" class="button big scrolly">写感悟</a> </div>
      </div>
    </article>
  </section>
  
  <!-- Main -->
  <article id="main">
    <div class="container">
      <ul class="timeline">
        <li>
          <div class="tldate">Apr 2014</div>
        </li>
      </ul>
      <ul class="timeline">
        <li>
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-tags">
              <div class="tag"><a href="#">Magicycles</a></div>
            </div>
            <div class="tl-heading">
              <h4>Surprising Headline Right Here</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3 hours ago</small></p>
            </div>
            <div class="tl-body">
              <p>Lorem Ipsum and such.</p>
            </div>
            <div class="tl-category"><i class="icon-th-large icon-white"></i>Home</div>
            <div class="tl-cmdbar"> <i class="fa fa-eye"></i> <span>279</span> &nbsp;<a ><i class="fa fa-share"></i>0</a> &nbsp;<a class="stats" stats_type="Post" name="like_count" oper="increase" href="javascript:;" title="顶"><i class="fa fa-thumbs-o-up"></i>10</a> &nbsp;<a class="comment" href="javascript:;" title="评论"><i class="fa fa-comment-o"></i>5</a> </div>
          </div>
          <div class="tl-time tl-time-l">2014.5.14</div>
        </li>
        <li class="timeline-inverted">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-tags">
              <div class="tag"><a href="#">Magicycles</a></div>
            </div>
            <div class="tl-heading">
              <h4>Breaking into Spring!</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 4/07/2014</small></p>
            </div>
            <div class="tl-body">
              <p>Hope the weather gets a bit nicer...</p>
              <p>Y'know, with more sunlight.</p>
            </div>
            <div class="tl-category"><i class="icon-th-large icon-white"></i>Home</div>
          </div>
          <div class="tl-time tl-time-r">2014.5.13</div>
        </li>
        <li>
          <div class="tldate">Mar 2014</div>
        </li>
        <li>
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>New Apple Device Release Date</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/22/2014</small></p>
            </div>
            <div class="tl-body">
              <p>In memory of Steve Jobs.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>No icon here</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/16/2014</small></p>
            </div>
            <div class="tl-body">
              <p>Here you'll find some beautiful photography for your viewing pleasure, courtesy of <a href="http://lorempixel.com/">lorempixel</a>.</p>
              <p><img src="http://lorempixel.com/600/300/nightlife/" alt="lorem pixel"></p>
            </div>
          </div>
        </li>
        <li>
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>Some Important Date!</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/03/2014</small></p>
            </div>
            <div class="tl-body">
              <p>Write up a quick summary of the event.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel noarrow">
            <div class="tl-heading">
              <h4>Secondary Timeline Box</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3/01/2014</small></p>
            </div>
            <div class="tl-body">
              <p>This might be a follow-up post with related info. Maybe we include some extra links, tweets, user comments, photos, etc.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="tldate">Feb 2014</div>
        </li>
        <li class="timeline-inverted">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>The Winter Months</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 02/23/2014</small></p>
            </div>
            <div class="tl-body">
              <p>Gee time really flies when you're having fun.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>Yeah we're pretty much done here</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 02/11/2014</small></p>
            </div>
            <div class="tl-body">
              <p>Wasn't this fun though?</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </article>
  
  <!-- home --> 
  
  <!-- Footer -->
  <footer id="footer">
    <ul class="copyright">
      <li>&copy; 2016 by 刘卫</li>
      <li>Design by html5up</li>
    </ul>
  </footer>
</div>

<!-- Scripts --> 
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/jquery.dropotron.min.js"></script> 
<script src="assets/js/jquery.scrolly.min.js"></script> 
<script src="assets/js/jquery.scrollgress.min.js"></script> 
<script src="assets/js/skel.min.js"></script> 
<script src="assets/js/util.js"></script> 
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]--> 
<script src="assets/js/main.js"></script>
</body>
</html>
