{% extends 'base.html' %}

{% block page_top %}
<div class="page-top">
    {% include 'structure/_menu.html' %}
</div>
{% endblock page_top %}

{% block sidebar %}
<div class="page-sidebar-wrapper">
    {% include 'structure/_siderbar.html' %}
</div>
{% endblock sidebar %}

{% block content %}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height:1896px">
    {% include 'structure/_steps.html' %}
    {% include 'structure/_timeline.html' %}
    </div>
    <!-- END CONTENT BODY -->
</div>
{% endblock content %}

{% block other_script %}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ url_for('static', filename='assets/pages/scripts/timeline.js') }}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{% endblock other_script %}

{% block footer %}
{% include 'structure/_footer.html' %}
{% endblock footer %}
